FileETag none

<IfModule mod_headers.c>
  Header unset Etag
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "{{ apache_expires_default }}"

    <Filesmatch "\.(ico|gif|jpg|jpeg|png|ico)$">
      ExpiresDefault "{{ apache_expires_default_images }}"
    </Filesmatch>

    <Filesmatch "\.(css)$">
      ExpiresDefault "{{ apache_expires_default_js }}"
    </Filesmatch>

    <Filesmatch "\.(js)$">
      ExpiresDefault "{{ apache_expires_default_css }}"
    </Filesmatch>

    <Filesmatch "\.(pdf)$">
      ExpiresDefault "{{ apache_expires_default_pdf }}"
    </Filesmatch>
</IfModule>
